div.mensaje>footer{
	display:flex;
	border: 0px;
	flex-direction:column;
	background-color: #fafafa;
	justify-content: space-around;
	padding: 1vw;
	color:white;
	font-size: 1vw;
	box-shadow: none;
	width:100%;
}

header.titulo-topic{
	font-weight: bold;
	font-size: 1vw;
	color:grey;
}

div.mensaje{
	display:flex;
	flex-direction:column;
	text-align:center;
	align-items:center;
	margin: 1vw;
	
}

#comentario, #tema{
	margin-bottom: 1vw;
	color:black;
	width: 45vw;
	height: 10vw;
	resize: none;
	box-sizing: border-box;
    padding: 0.5vw;
    outline: none;
    border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
	font-family: Helvetica;
	color: grey;
}

#comentario:focus, #tema:focus{
	box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}

#tema{
	height: 2vw;
	
}

button.msg{
	font-size: 1vw;
	width: 7vw;
}


@media only screen and (max-width: 1024px) {
	#comentario{
		height: 15vw;
	}
	
	#tema{
		font-size: 2vw;
		height: 5vw;
	}
	
	button.msg{
		font-size: 2vw;
		width: 15vw;
	}
	
	header.titulo-topic{
		font-size: 2vw;
	}
}

@media only screen and (max-width: 640px) {
	#comentario{
		font-size: 3vw;
		height: 25vw;
	}
	
	#tema{
		font-size: 3vw;
		height: 7vw;
	}
	
	button.msg{
		font-size: 4vw;
		width: 25vw;
	}
	
	header.titulo-topic{
		font-size: 4vw;
	}
}