<form action="alta.php" method="post" class="form-style-9">
<div class="center registro"><h3>Regístrese por favor</h3></div>
<input type="text" name="usuari" class="field-style field-full align-none user" placeholder="Usuario">
<input type="password" name="password" class="field-style field-full align-none pass" placeholder="Contraseña">
<input type="text" name="email" class="field-style field-full align-none" placeholder="Correo electrónico">
<input type="text" name="telefon" class="field-style field-full align-none" placeholder="Teléfono">

<br><br>
<div class="center">
<input type="submit" value="Registrar">
</div>
</form>



