.contentSection {
	display: flex;
	flex-direction: column;
	margin-top: 1vw;
}

button.boton-search{
	display:flex;
	font-size: 1vw;
	width: 25%;
	height: 2vw;
}

div.search-show{
	margin: 1vw;
}

.buscar{
	width: 50px;
    height: 100%;
  /*width: 22%;*/
  display: flex;
}

.search-box{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25vw;
	/*position: relative;
	display: inline-block;*/
	font-size: 1vw;
	
	
}

.search-box input[type="text"]{
	height: 2vw;
	padding: 0.5vw 0.7vw;
	border: 0px solid #45b7ae;
	font-size: 1vw;
	/*width: 111px;*/
	margin-bottom:0vw;
}

.input[type=text]:focus {
    width: 100%;
}

.result{
	position:absolute;
	z-index: 999;
	/*top: 100%;*/
	right: 13vw;
	margin-top: 1vw;
}

.result div{
	border: 1px solid #28739E;
}

.search-box input[type="text"], .result{
	/*width: 100%;*/
	width: 14vw;
	box-sizing: border-box;
	/*border-radius: 20px;*/
	background: white;
	border: 0px solid #28739E;

}

.result p  {
	margin: 0;
	/*width: 100%;*/
	padding: 7px 10px;
	cursor: pointer;
	/*background: #FFFFFF;*/
	color:black;
}


.result p:hover{
	background: #2D77A2;
	color:white;
}

@media only screen and (max-width: 1024px) {

	.search-box input[type="text"]{
		height: 3vw;
		padding: 0.5vw 0.7vw;
		font-size: 2vw;
		margin: 0.5vw;
	}
	
	.search-box input[type="text"], .result{
		width: 20vw;
		box-sizing: border-box;
		background: white;
		border: 0px solid #28739E;
	}
	
	.result{
		position:absolute;
		z-index: 999;
		/*top: 100%;*/
		right: 11.5vw;
		margin-top: 1.5vw;
	}
	
	.result p  {
		margin: 0;
		padding: 1vw 2vw;
		font-size: 2vw;
	}
	
	button.boton-search{
		font-size: 2vw;
		width: 100%;
		height: 4vw;
		margin-top: 0vw;
		
	}

}

@media only screen and (max-width: 500px) {
	
	
	.search-box input[type="text"]{
		height: 10vw;
		padding: 0.5vw 0.7vw;
		border: 0px solid #45b7ae;
		font-size: 5vw;
		margin: 2vw;
	}
	
	.search-box input[type="text"], .result{
		width: 50vw;
		box-sizing: border-box;
		background: white;
		border: 0px solid #28739E;
	}
	
	.result{
		position:absolute;
		z-index: 999;
		/*top: 100%;*/
		right: 36vw;
		margin-top: 5vw;
	}
	
	.result p  {
		margin: 0;
		padding: 1vw 2vw;
		cursor: pointer;
		color:black;
		font-size: 5vw;
	}


	.result p:hover{
		background: #2D77A2;
		color:white;
	}
	
	button.boton-search{
		font-size: 5vw;
		width: 100%;
		height: 10vw;
		margin-top: 0vw;
	}
}