body {
	color:#28739E;
	font: 1vw Arial, Helvetica, sans-serif;
	margin: 0vw;
	background-color:#bbe0f3;
}

a {
	font-weight: normal;
	font-size: 1vw;
	font-family: Helvetica;
	color:red;
	text-decoration:none;
}

a:hover {
	font-weight: normal;
	color: orange;
}

.pie-item>a{
	color: orange;
}

.pie-item>a:hover{
	color: white;
}

div.cabeceramaestra{
	display:flex;
	flex-direction: row;
	text-align: center;
	background: url(img/fondo.jpg);
}

div.cabecera{
	display: flex;
	flex-direction:column;
	/*background-color: #bbe0f3;*/
	text-align: left;
	padding: 1vw;
	flex: 2 1;
	margin-bottom:0vw;
}

div.cabecera2{
	display:flex;
	flex-direction: row-reverse;
	
	/*background-color: #bbe0f3;*/
	flex: 1 1;
	justify-content: space-around;
	padding: 1vw;
	flex-wrap: wrap;
	margin-bottom:0vw;
}

h2{
	margin-top: 1vw;
	font-style: italic;
	color:white;
}

img.logo{
	width: 10vw;
	filter: drop-shadow(5px 5px 5px #222);
}

div.contenido{
	display:flex;
	flex: 1 1;
	/*background-color: pink;*/
}

div.cuadro-post{
	background-color: #fafafa;
	flex: 1 1;
	margin: 1vw;
	margin-top: 2vw;
	border: 1px solid #216288;
	height:100%;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
	/*max-width:40vw;    <--ajustar tamaño*/
}

div.post{
	display:flex;
	flex-direction: row;
	/*background-color:yellow;*/
	padding:1vw;
}

div.nick{
	
	padding-right: 1vw;
	font-weight: bold;
}

div.puntos, span.separador{
	
	padding-right: 1vw;
	color: grey;
}

/*PARA LAS PÁGINAS*/
div.pages{
	margin: 1vw;
	text-align:center;
}

.btn-page, .btn-page-off {
  background: #d0cede;
  background-image: -webkit-linear-gradient(top, #d0cede, #fafafa);
  background-image: -moz-linear-gradient(top, #d0cede, #fafafa);
  background-image: -ms-linear-gradient(top, #d0cede, #fafafa);
  background-image: -o-linear-gradient(top, #d0cede, #fafafa);
  background-image: linear-gradient(to bottom, #d0cede, #fafafa);
  border-radius: 0.5vw;
  box-shadow: 0vw 0vw 0.5vw #666666;
  color: #28739e;
  font-size: 1vw;
  padding: 0.5vw;
  border: solid #1f638d 0.1vw;
  text-decoration: none;
  margin-right:0.5vw;
}

.btn-page:hover {
  background: #b0cfe0;
  text-decoration: none;
	color: #1f638d;
}

.btn-page-off{
	background-image: -webkit-linear-gradient(top, #d0cede, #216288);
	background-image: -moz-linear-gradient(top, #d0cede, #216288);
	background-image: -ms-linear-gradient(top, #d0cede, #216288);
	background-image: -o-linear-gradient(top, #d0cede, #216288);
	background-image: linear-gradient(to bottom, #d0cede, #216288);
	color:white;
}

/*---*/

div.post> a{
	font-weight: bold;
	color: #305A72;
}

div.post> a:hover{
	font-weight: bold;
	color: #FA8258;
}

div.recuperapass{
	font-size: 1vw;
}

div.login{
	display:flex;
	flex: 0.5 1;
	flex-direction: row-reverse;
	margin-right: 1vw;
	/*background-color:purple;*/
}

.ini-sesion {
	text-align:center;
	font-size: 2vw;
}

.logintope{
	max-height: 10vw;
	
}

.centerlog {
	margin:auto;
	max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
	font: 15px Arial, Helvetica, sans-serif;
}

.registro {
	color: #FA8258;
	font: Arial, Helvetica, sans-serif;
	font-size: 1vw;
}

div.right {
	text-align:right;
}

.form-style-9{
    /*max-width: 450px;*/
    background: #FAFAFA;
    padding: 5vw;
	padding-top: 1vw;
    margin: 3vw auto;
	margin-top: 2vw;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}
.form-style-9 ul{
    padding:0;
    margin:0;
    list-style:none;
}
.form-style-9 ul li{
    display: block;
    margin-bottom: 10px;
    /*min-height: 35px;*/
}
.form-style-9 .field-style{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0.5vw;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}

.form-style-9 .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.form-style-9 .field-split{
    width: 49%;
}
.form-style-9 .field-full{
    width: 100%;
}
.form-style-9 input.align-left{
    float:left;
}
.form-style-9 input.align-right{
    float:right;
}
.form-style-9 textarea{
    width: 100%;
    height: 100px;
}
.form-style-9  input[type="button"],
.form-style-9  input[type="submit"],
a.menu {
	display:flex;
	flex: 1 1;
	text-align: center;
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 1vw 2vw;
    text-decoration: none;
	font: 1vw Arial, Helvetica, sans-serif;
}
.form-style-9  input[type="button"]:hover,
.form-style-9  input[type="submit"]:hover,
a.menu:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}

div.menu {
	display: flex;
	justify-content: flex-start;
	background-color: #46728c;
}

input.user {
    background-image: url(img/icon.png);
	background-size: 2vw;
    background-repeat: no-repeat;
    text-indent: 2vw;
}

/*input.user:focus {
	background-image: none;
}*/

input.pass{
    background-image: url(img/icon2.png);
	background-size: 2vw;
    background-repeat: no-repeat;
    text-indent: 2vw;
}
.login {
	font: 2vw Helvetica;
}
.logout{
	display: flex;
	justify-content: center;
	font: 1vw Arial, Helvetica, sans-serif;
}

/*CSS PARA TABLAS */

div.table-title {
  display: block;
  margin: auto;
  max-width: 800px;
  padding: 5px;
  width: 100%;
}

.table-title h3 {
  color: #28739E;
  font-size: 30px;
  font-weight: 400;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  text-align: center;
}

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 800px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color: #D5DDE5;

  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 23px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color: #666B85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

tr:hover td {
  background: #4E5066;
  color: #FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #EBEBEB;
}

tr:nth-child(odd):hover td {
  background: #4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #FFFFFF;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/* FOOTER STYLE */

footer {
	display:flex;
	flex-direction: row;
	background-color: #fafafa;
	justify-content: space-around;
	padding: 1vw;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
	color:white;
	font-size: 1vw;
}

/* REGISTRO */

.registroEnviar{
	text-align:center;
	
}

div.msg-welcome{
	margin: 10vw auto;
	margin-bottom: 15vw;
	font-size: 2vw;
	font-weight: bold;
}

/* ICONO LOGIN */

img.ico-login{
	width: 10vw;
}

div.ini-log{
	margin-right: 1vw;
}

/* HEADER SEARCH */

span.search2{
	color: #216288;
}


/* HEADER POST */

header{
	margin-top:1vw;
	height: 2vw;
	padding: 1vw;
}

.btn-topic {
  background: #d0cede;
  background-image: -webkit-linear-gradient(top, #d0cede, #fafafa);
  background-image: -moz-linear-gradient(top, #d0cede, #fafafa);
  background-image: -ms-linear-gradient(top, #d0cede, #fafafa);
  background-image: -o-linear-gradient(top, #d0cede, #fafafa);
  background-image: linear-gradient(to bottom, #d0cede, #fafafa);
  border-radius: 1vw;
  box-shadow: 0vw 0vw 0.5vw #666666;
  color: #28739e;
  font-size: 1vw;
  padding: 1vw;
  border: solid #1f638d 0.1vw;
  text-decoration: none;
}

.btn-topic:hover {
  background: #b0cfe0;
  text-decoration: none;
	color: #1f638d;
}

/*CAMPUS IMAGE*/

img.campus{
/* 	display:flex;
	align-items:center;
	justify-content: center;
 */	display: block;
    margin: 0 auto;
	width: 55vw;
	box-shadow: 0vw 0vw 0.5vw #666666;
}

span.center{
	display: block;
	text-align:center;
	margin: 0 auto;
}

/* TAG CLOUD */
.cloud{
	background-color: #fafafa;
	flex: 0.5 0.5;
	margin: 1vw;
	margin-top: 2vw;
	border: 1px solid #216288;
	height:100%;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
	padding: 1vw;
	text-align:center;
}
.cloud1{
	font-size:1vw;
}

.cloud2{
	font-size:2vw;
}

.cloud3{
	font-size:3vw;
}

.cloud4{
	font-size:4vw;
}

/* MOBILE VIEW */

@media only screen and (max-width: 1024px) {
	
	body {
		font: 2vw Arial, Helvetica, sans-serif;
	}
	
	div.post>a {
		font-size:2.5vw;
		
	}
	
	.logintope{
		max-height: 12vw;
		
	}
	
	header{
		height: 4vw;
	}
	
	.btn-topic{
		font-size: 2vw;
	}
	.form-style-9  input[type="submit"]{
		font-size: 2vw;
		padding: 1vw 1vw;
	}
	
	.form-style-9  input[type="button"],
	a.menu {
		display:flex;
		justify-content:center;
		padding: 2vw 2vw;
		font-size: 2vw;
	}
	
	.registro {
		font-size: 2vw;
	}
	
	img.ico-login{
		width: 12vw;
	}
	
	.btn-page, .btn-page-off {
		font-size: 2vw;
		padding: 0.5vw;
	
	}
}

@media only screen and (max-width: 640px) {
	
	body {
		font: 3vw Arial, Helvetica, sans-serif;
	}
	
    input.user {
		/*background-image: url(img/icon.png);*/
		background-size: 5vw;
		background-repeat: no-repeat;
		text-indent: 6vw;
		font-size: 3vw;
	}
	
	input.pass {
		/*background-image: url(img/icon.png);*/
		background-size: 5vw;
		background-repeat: no-repeat;
		text-indent: 6vw;
		font-size: 3vw;
	
	}
	
	.form-style-9{
		max-width: 60vw;
		padding: 2vw;
		
		margin: 1vw auto;
		
		border: 3px solid #305A72;
	}
	
	.logintope{
		max-height: 35vw;
		
	}
	
	a {
		font-size:2.5vw;
		
	}
	
	div.post>a {
		font-size:3vw;
		
	}
	
	div.cabeceramaestra{
		flex-direction: column;
	}
	
	div.menu{
		flex-wrap: wrap;
	}
	
	.form-style-9  input[type="submit"]{
		font-size: 3vw;
		padding: 2vw 2vw;
	}
	.form-style-9  input[type="button"],
	a.menu {
		display:flex;
		justify-content:center;
		align-items: center;
		padding: 3vw 3vw;
		font-size: 3vw;
	}
	
	div.recuperapass{
		font-size: 2vw;
		text-align: center;
		margin: 2vw;
	}
	div.center{
		display:flex;
		text-align:center;
		justify-content:center;
	}
	
	img.logo{
		display: block;
		margin: 0 auto;
		width: 25vw;
		filter: drop-shadow(5px 5px 5px #222);
		margin-bottom:2vw;
	}
	
	div.cabecera{
		padding: 2vw;
		flex: 2 1;
		text-align: center;
		justify-content:center;
	}
	
	footer{
		font-size: 3vw;
		padding: 2vw;
	}
	
	div.ini-sesion {
		font-size: 3vw;
	}
	
	header{
		height: 7vw;
	}
	
	.btn-topic{
		font-size: 4vw;
	}
	
	.registroBloque{
		margin: 4vw auto;
	}
	
	.registro {
		color: #FA8258;
		font: Helvetica;
		font-size: 3vw;
	}
	
	div.msg-welcome{
		margin: 10vw auto;
		margin-bottom: 20vw;
		font-size: 4vw;
		
	}
	
	img.ico-login{
		width: 30vw;
	}
	
	.btn-page, .btn-page-off {
		font-size: 4vw;
		padding: 0.5vw;
	
	}
	
	.cloud1{
	font-size:2.5vw;
	}

	.cloud2{
		font-size:3.5vw;
	}

	.cloud3{
		font-size:4.5vw;
	}

	.cloud4{
		font-size:5.5vw;
	}
}

